/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 23, 2020, 7:25:24 PM
    Author     : ASUS
*/

header
{
    background-color: #00547E;
    border-bottom: 4px solid #04A3ED;
    width:100%;
    height: auto;
    padding: 0 10px;
    position: fixed;
    margin: 0px;
    z-index: 1;
}

header  .navbar-nav > .active > a
{
    background-color : #04A3ED;
    color: white;
    font-weight: bold;
}

header  .navbar-nav >  li >  a
{
    font-size: 13px;
    color: white;
    padding: 10px 15px;

}
header  .navbar-nav >  li >  a:hover
{
    background-color: #04A3ED;
}

.navbar-header > div
{
    font-family: 'Ubuntu Condensed', sans-serif;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    color: white;
    font-size: 25px;
    padding: 5px 20px;
}
.navbar-header > a:hover
{
    text-decoration: none;
    color: #04A3ED;
}

.bodyy
{
    top:50px;
    position: relative;
}

.newsfeed-nav > a
{
    color: white;
}

.newsfeed-nav > a:hover
{
    text-decoration: none;
    color: white;
}

